# **30-05-2024**

# **Variable**

In [ ]:
message ="Hello world"
print(message)

Hello world

# **Data Types**

Integer= 1,2,3..

Float= 0.1,0.2,..

Character= a,p,c...

String= 'python','news'

Boolean=True or False, 0 or 1

# **CONDITIONAL STATEMENTS**

# **If else**

In [ ]:
i=20
if i>10:
    print("i is greater than 10")
else:
    print("i is less than 10")

i is greater than 10

# **Nested if**

In [ ]:
value=100
if value>10:
    if value<100:
        print("value is greater than 10 and less than 100")
if value==100:
        print("value is equal to 100")

value is equal to 100

# **Switch case**

In [19]:
def number(a):
  match a:
    case 1:
      print("one")
    case 2:
      print("two")
    case 3:
      print("three")
    case _:
      print("invalid")
number(3)

three

# **FUNCTIONS**

Helps to reuse the same piece of code again and again
Used in oops,class,objects.

In [ ]:
def greet():
    print("Hello")
    print("Welcome")
greet()
greet()

Hello
Welcome
Hello
Welcome

In [ ]:
def function(a,b):
  avearge=(a+b)/2
  print(avearge)
function(10,20)

15.0

# **31-05-2024**

# **LOOPS**

for loop

do while

while loop

# **For loop**

In [ ]:
#for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,10,2):

  print(i)

1
3
5
7
9

In [ ]:
l=['python','ML','AI']
for i in l:
  print(i)

python
ML
AI

# **While loop**

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

it excecutes as long as the condition is true

no. of iteration is not known to us

# **Do while loop**

In [ ]:
i=1
while True:
  print(i)
  i=i+1
  if i>5:
    break

1
2
3
4
5

loop body executes atleast once before checking the condition

In [9]:
while True:
  user_input=input("enter a number")
  if user_input.isdigit():
    number=int(user_input)
    if number>0:
     break
  else:
    print("invalid input")

enter a number-4
invalid input
enter a number7

# **Typecast- one data type to another**

In [10]:
y='10'
print(type(y))
x=int(y)
print(type(x))

<class 'str'>
<class 'int'>

In [11]:
y='25a'
y.isdigit()

False

In [12]:
y=30
y=str(y)
print(type(y))

<class 'str'>

In [13]:
y=30
y.isdigit()3# cannot be used on integer

AttributeError: 'int' object has no attribute 'isdigit'

In [17]:
y=str(30)
print(type(y) )
y.isdigit()

<class 'str'>

True