# **Practice section of 06-06-2024**

# 1. Code on polymorphism

In [9]:
class Bird:
    def fly(self):
      print('Flyning')

class Crow(Bird):
    def fly(self):
      print('I am a crow')

class Duck(Bird):
    def fly(self):
      print('I am a duck')

def birdsflying(status):
    status.fly()

crow=Crow()
duck=Duck()

birdsflying(crow)
birdsflying(duck)

I am a crow
I am a duck

# 2. Code in encapsulation

In [18]:
class Student:
  def __init__(self,age,name):
    self.__age=age
    self.name=name

  def get_age(self):
    return self.__age

s1=Student(23,'John')
print(s1.get_age())
print(s1.name)

23
John

# 3. Find the factorial of a number by giving input we need.

In [17]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

num=int(input('Enter a number: '))
print(factorial(num))

Enter a number: 5
120

# 4.Write a function to reverse the list [2, 3,4].

In [19]:
def reverse_list(list):
  return list[::-1]

list=[2,3,4]
print(reverse_list(list))

[4, 3, 2]

# 5.Create a calculator using switch case

In [7]:
def operation():
 num1 = int(input("Enter your number1: "))
 num2 = int(input("Enter your number2: "))
 option = int(input("Enter your option(1-Addition, 2-Subtraction, 3-Multiplication, 4-Division, 5-Module):"))
 match option:
        case 1:
           result= num1+num2

        case 2:
            result= num1-num2

        case 3:
            result= num1*num2

        case 4:
            if num2 == 0:
                return "Error: Division by zero"
            result= num1/num2

        case 5:
            result= num1%num2

        case _:
            result ='invalid'

 return f"The result is: {result}"

In [11]:
print(operation())

Enter your number1: 4
Enter your number2: 5
Enter your option(1-Addition, 2-Subtraction, 3-Multiplication, 4-Division, 5-Module):1
The result is: 9

# 6. Write a code on python by using a function, search for position of 3 in a list and also add a number and print updated list [2,3,4,5]

In [1]:
def search_and_add(input_list, number_to_add):

    if 3 in input_list:
        position_of_3 = input_list.index(3)
        print(f"The position of 3 in the list is: {position_of_3}")
    else:
        print("The number 3 is not in the list.")

    # Add the specified number to the list
    input_list.append(number_to_add)

    # Print the updated list
    print("Updated list:", input_list)

my_list = [2, 3, 4, 5]
number_to_add = 6
search_and_add(my_list, number_to_add)

The position of 3 in the list is: 1
Updated list: [2, 3, 4, 5, 6]